* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #1261a0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border: 2px solid black;
}

#form-container {
  background: black;
  width: 50%;
  margin: auto;
  height: 80%;
  border-radius: 5px;
}

.form input {
  padding: 1.5%;
}

.submit {
  width: 90px;
  margin-top: 1%;
  padding: 0.5%;
  border: transparent;
  background: white;
}

.text {
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  padding: 0.5%;
}

.text a {
  color: #1261a0;
}

input:focus {
  outline: none !important;
}
